curve25519: encode vs hash to curve mismatch.

In [Section 3 of RFC9380](https://www.rfc-editor.org/rfc/rfc9380.html#section-3) , there is a distinction between `hash_to_curve` and `encode_to_curve`. 

The [hash_to_curve](https://docs.rs/curve25519-dalek/4.2.0/curve25519_dalek/edwards/struct.EdwardsPoint.html#method.hash_to_curve) rust method actually implements `encode_to_curve`, so it is not safe to be used (and named) as a hash.

My recommendation is to define two functions: 
**encode_to_curve**: implementing the suite `edwards25519_XMD:SHA-512_ELL2_NU_`.
**hash_to curve**: implementing the suite `edwards25519_XMD:SHA-512_ELL2_RO_`.

cc: @rozbb 

O no. @iquerejeta does this make sense to you 

Working on it - this was indeed a mistake on our side. We intentionally use the non-uniform version of the mapping (and test it accordingly with the spec's test vectors). However, as @armfazh points out, naming is incorrect. 

Is it just me, or does the existing function have larger issues? Specifically, it determines which sqrt to use off the 256th bit of the input (not the sign of the input field element), and it accepts a 64-byte hash as input yet only looks at the first 32 bytes. I'll poke at the PR mentioned above yet wanted to immediately flag this now.